.price {
    &__item {
        text-align: center;
        max-width: 360px;
        width: 100%;

        &--blue {
            border-top: 3px solid #007ffc;

            @media (max-width: 768px) {
                margin-bottom: 18px;
            }
        }

        &--green {
            border-top: 3px solid #52c29d;

            @media (max-width: 768px) {
                margin-bottom: 18px;
            }
        }

        &--red {
            border-top: 3px solid #f04d5d;
        }

        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }

    &__title {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #16133d;
        margin-top: 50px;
    }

    &__name {
        font-family: 'Roboto-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        letter-spacing: 0.2px;
        margin-top: 32px;

        &--blue {
            color: #007ffc;
        }

        &--green {
            color: #52c29d;
        }

        &--red {
            color: #f04d5d;
        }
    }

    &__period {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #5a7184;
        margin-top: 5px;
    }

    &__text {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #7690a8;
        max-width: 287px;
        width: 100%;
        margin: 35px auto 0px 35px;

        @media (max-width: 425px) {
            max-width: 200px;
        }

        &--small {
            max-width: 256px;
            margin: 34px auto;
        }
    }

    &__button {
        padding: 9px;
        border: 2px solid #16133d;
        box-sizing: border-box;
        border-radius: 50px;
        max-width: 171px;
        width: 100%;
        margin: 54px auto 0 auto;
        display: block;
        cursor: pointer;

        &:hover {
            background-color: #16133d;
            color: #fff;
        }
    }
}
